
<%= form_for @listing do |form| %>
    <%= render partial: '/listings/form', object: form %>
    <%= render partial: '/unavdates/form' %>

    <br>

    <div class="submit-field">
      <%= form.submit "Update Now", class: "btn btn-default"%>
    </div>

  <% end %>
