
<div id="unav_datepicker"></div>
<!-- <script>
  var today = new Date();
  var y = today.getFullYear();
  $('#unav_datepicker').multiDatesPicker({
    numberOfMonths: [3,4],
    defaultDate: new Date()
  });
</script> -->




<!-- var today = new Date();
$('#disable-dates').multiDatesPicker({
  addDisabledDates: [today.setDate(1), today.setDate(3)]
}); -->
